.hero {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: rgba(0 0 0 0.5); 
    color: white;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 10px;
    color: #FCFDFB; 
}

.subtitle {
    font-size: 1.3em;

    margin: 0 0 20px;
}

.button {
    background-color: #61AB4A;
    
    color: #FCFDFB;
    font-size: 1.2em;
    font-weight: bold;

    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 16px 4px rgba(2, 4, 2, 0.25);
    border-radius: 5px;
    
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: #4f9639;
}

.button:active {
    background-color: #42862e;
}