.myContainer { 
    padding: 20px;
    background-color: #e8f5e9; 
    max-width: 600px; /*Largura máxima para centralizar*/
    margin: 0 auto;  /*Centraliza o conteúdo*/
    text-align: center /*Centraliza o texto*/
}

.singleInput { 
    display: flex;
    flex-flow: column;
    align-items: start;

    font-size: 18px;
    color: #81B622;
}

.inputSingle { 
    width: 100%;
    padding: 2px 0; 
    
    border: none;
    border-bottom: 2px solid #81B622;
    max-width: 400px;  /*Ajusta a largura máxima*/
    box-sizing: border-box;  /*Garante que o preenchimento seja incluído na largura total*/

    font-size: 16px;
    color: #92c239;

    margin-bottom: 10px;
}

.inputSingle:focus { 
    border: none;
    border-bottom: 2px solid #73a31a;
}

.inputSingle:focus-visible { 
    border: none;
    border-bottom: 2px solid #73a31a;
    outline: none;
}

.inputGroup { 
    display: flex; 
    flex-direction: column; 
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputGroup .singleInput { 
    
    margin-bottom: 10px;
}


.input { 
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
    margin-bottom: 10px;
    width: 100% 
}
.button { 
    background-color: #81B622; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-bottom: 10px;
}
.list { 
    margin-top: 10px; 
    text-align: left 
}
.listItem { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px 
}
.deleteButton { 
    background-color: red; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 
}
.sliderGroup { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px 
}

.sliderGroup label { 
    color: #81B622
}

.slider { 
    flex-grow: 1; 
    margin: 0 10px;

    accent-color: #81B622;
}
.searchButton { 
    background-color: #81B622; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer 
}
.orText { 
    margin: 10px 0; 
    font-size: 16px; 
    color: #333 
}

.recipeSearch{
    min-height: 100px;
    margin-bottom: 20px;

    border-radius: 10px;
    border: none;
    
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.title {
    color: #020402;
    
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.5em;
    font-weight: bold;
}

.new_input_container{
    width: fit-content;
    
    margin-top: -12px;
    margin-bottom: 32px;
}

.new_input_header{
    position: relative;
    top: 12px;
    left: 8px;

    width: fit-content;
    background-color: #FCFDFB;

    font-weight: light;
    font-size: .8em;
}

.new_input{
    display: flex;

    padding: 8px 8px ;
    border: 1px solid #020402;
    border-radius: 8px;

    min-width: 516px;
    max-width: fit-content;
}

.new_input>form{
    all: unset;
}

.new_input>form>*{
    all: unset;
}

.new_input>input{
    border: none;
    outline: none;
    width: 100%;
}

.new_input>input:focus{
    /* border: 2px solid #020402; */
    outline: none;
}

.new_input>input:focus-visible{
    /* border: 2px solid #020402; */
    outline: none;
}

.new_input_add_button{
    position: relative;
    right: 14px;
    
    width: 0;
}

.new_input_add_button>button{
    background-color: #61AB4A;

    color: #FCFDFB;
    font-size: 2em;
    font-weight: bolder;

    line-height: 0;
    padding: 22px 12px;

    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(2, 4, 2, 0.25);

    transition: 0.2s ease-in-out;
}

.new_input_add_button>button:hover{
    background-color: #4f9639;
}

.new_input_add_button>button:active{
    background-color: #42862e;
}

.added_ingredients_header{
    font-size: 0.8;
    margin-bottom: 12px;
}

.added_ingredients{
    display: flex;
    flex-direction: row;
}

.added_ingredients_item{
    background-color: #A9D49B;
    border-radius: 8px;

    color: #020402;
    font-size: 0.8em;
    font-weight: light;

    padding: 8px 16px;
    margin-right: 12px;

    cursor: pointer;
}

.added_ingredients_item:hover{
    background-color: #BA5B5B;
    color: #FCFDFB;
}

.added_ingredients_empty{
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.searchRecipesButton{
    background-color: #61AB4A;

    color: #FCFDFB;
    font-size: 1em;

    margin-top: 32px;
    padding: 12px 16px;

    border-radius: 8px;
    box-shadow: 0px 0px 16px rgba(2, 4, 2, 0.25);

    transition: 0.2s ease-in-out;
}

.searchRecipesButton:hover{
    background-color: #4f9639;
}

.searchRecipesButton:active{
    background-color: #42862e;
}